ws-Provider/src/generated/resources/KontaktService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://ws.kontakt.kiltz.de/" name="KontaktService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.kontakt.kiltz.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <wsp:Policy wsu:Id="KontaktPortBinding_MTOM_Policy-KontaktPortBinding_WSAM_Addressing_Policy">
    <ns1:OptimizedMimeSerialization wsp:Optional="true" xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"/>
    <wsam:Addressing>
      <wsp:Policy/>
    </wsam:Addressing>
  </wsp:Policy>
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.kontakt.kiltz.de/" schemaLocation="KontaktService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="suche">
    <part name="parameters" element="tns:suche"/>
  </message>
  <message name="sucheResponse">
    <part name="parameters" element="tns:sucheResponse"/>
  </message>
  <message name="hole">
    <part name="parameters" element="tns:hole"/>
  </message>
  <message name="holeResponse">
    <part name="parameters" element="tns:holeResponse"/>
  </message>
  <message name="neu">
    <part name="parameters" element="tns:neu"/>
  </message>
  <message name="neuResponse">
    <part name="parameters" element="tns:neuResponse"/>
  </message>
  <portType name="KontaktWS">
    <operation name="suche">
      <input wsaw:Action="http://ws.kontakt.kiltz.de/KontaktWS/sucheRequest" wsam:Action="http://ws.kontakt.kiltz.de/KontaktWS/sucheRequest" message="tns:suche"/>
      <output wsam:Action="http://ws.kontakt.kiltz.de/KontaktWS/sucheResponse" message="tns:sucheResponse"/>
    </operation>
    <operation name="hole">
      <input wsaw:Action="http://ws.kontakt.kiltz.de/KontaktWS/holeRequest" wsam:Action="http://ws.kontakt.kiltz.de/KontaktWS/holeRequest" message="tns:hole"/>
      <output wsam:Action="http://ws.kontakt.kiltz.de/KontaktWS/holeResponse" message="tns:holeResponse"/>
    </operation>
    <operation name="neu">
      <input wsaw:Action="http://ws.kontakt.kiltz.de/KontaktWS/neuRequest" wsam:Action="http://ws.kontakt.kiltz.de/KontaktWS/neuRequest" message="tns:neu"/>
      <output wsam:Action="http://ws.kontakt.kiltz.de/KontaktWS/neuResponse" message="tns:neuResponse"/>
    </operation>
  </portType>
  <binding name="KontaktPortBinding" type="tns:KontaktWS">
    <wsaw:UsingAddressing/>
    <wsp:PolicyReference URI="#KontaktPortBinding_MTOM_Policy-KontaktPortBinding_WSAM_Addressing_Policy"/>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="suche">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="hole">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="neu">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="KontaktService">
    <port name="KontaktPort" binding="tns:KontaktPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

