ws-Provider/src/generated/resources/KontaktService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://ws.kontakt.kiltz.de/" xmlns:tns="http://ws.kontakt.kiltz.de/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="hole" type="tns:hole"/>

  <xs:element name="holeResponse" type="tns:holeResponse"/>

  <xs:element name="neu" type="tns:neu"/>

  <xs:element name="neuResponse" type="tns:neuResponse"/>

  <xs:element name="suche" type="tns:suche"/>

  <xs:element name="sucheResponse" type="tns:sucheResponse"/>

  <xs:complexType name="suche">
    <xs:sequence>
      <xs:element name="such" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sucheResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:kontakt" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="kontakt">
    <xs:sequence>
      <xs:element name="art" type="tns:art" minOccurs="0"/>
      <xs:element name="id" type="xs:long" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="ort" type="xs:string" minOccurs="0"/>
      <xs:element name="plz" type="xs:string" minOccurs="0"/>
      <xs:element name="strasse" type="xs:string" minOccurs="0"/>
      <xs:element name="vorname" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="hole">
    <xs:sequence>
      <xs:element name="id" type="xs:long" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="holeResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:kontakt" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="neu">
    <xs:sequence>
      <xs:element name="kontakt" type="tns:kontakt" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="neuResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:kontakt" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="art">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PRIVAT"/>
      <xs:enumeration value="BERUFLICH"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

