ws-Provider/src/main/resources/META-INF/wsdl/de/kiltz/kontakt/v1/Kontakt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is
	Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. -->
<xs:schema xmlns:tns="http://kiltz.de/kontakt/v1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
           targetNamespace="http://kiltz.de/kontakt/v1">

  <xs:element name="Hole" type="tns:holeReq" />

  <xs:element name="HoleResponse" type="tns:holeResp" />

  <xs:element name="Neu" type="tns:neuReq" />

  <xs:element name="NeuResponse" type="tns:neuResp" />

  <xs:element name="Suche" type="tns:sucheReq" />

  <xs:element name="SucheResponse" type="tns:sucheResp" />

  <xs:complexType name="sucheResp">
    <xs:sequence>
      <xs:element name="kontaktListe" type="tns:kontakt" minOccurs="0"
                  maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="kontakt">
    <xs:sequence>
      <xs:element name="art" type="tns:art" minOccurs="0" />
      <xs:element name="id" type="xs:long" minOccurs="0" />
      <xs:element name="name" type="xs:string" />
      <xs:element name="ort" type="xs:string" />
      <xs:element name="plz" type="xs:string" />
      <xs:element name="strasse" type="xs:string" minOccurs="0" />
      <xs:element name="vorname" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="neuResp">
    <xs:sequence>
      <xs:element name="kontakt" type="tns:kontakt" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="holeResp">
    <xs:sequence>
      <xs:element name="kontakt" type="tns:kontakt" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sucheReq">
    <xs:sequence>
      <xs:element name="such" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="neuReq">
    <xs:sequence>
      <xs:element name="kontakt" type="tns:kontakt"
                  minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="holeReq">
    <xs:sequence>
      <xs:element name="id" type="xs:long" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="art">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PRIVAT" />
      <xs:enumeration value="BERUFLICH" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>